/***** STARTER CODE - DO NOT CHANGE *****/

html{
  scroll-behavior: smooth;
}

body{
  background-color: #737373;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color:white;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav{
  background-color: #ddd;
  padding: 25px 10px;;    
  text-align: left;   
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline;
  margin-right: 5%;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.text{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}

footer{
  background-color: black;
  color: white;
  padding: 15px 0;
  text-align: center;
}

footer a,
footer a:visited{
  color: white;
}
/*****  End Starter Code ****/